{% extends 'admin-base.html' %} 
{% load static %}
 {% block style %}
 @import url("https://fonts.googleapis.com/css?family=Roboto");
 @-webkit-keyframes come-in {
   0% {
     -webkit-transform: translatey(100px);
             transform: translatey(100px);
     opacity: 0;
   }
   30% {
     -webkit-transform: translateX(-50px) scale(0.4);
             transform: translateX(-50px) scale(0.4);
   }
   70% {
     -webkit-transform: translateX(0px) scale(1.2);
             transform: translateX(0px) scale(1.2);
   }
   100% {
     -webkit-transform: translatey(0px) scale(1);
             transform: translatey(0px) scale(1);
     opacity: 1;
   }
 }
 @keyframes come-in {
   0% {
     -webkit-transform: translatey(100px);
             transform: translatey(100px);
     opacity: 0;
   }
   30% {
     -webkit-transform: translateX(-50px) scale(0.4);
             transform: translateX(-50px) scale(0.4);
   }
   70% {
     -webkit-transform: translateX(0px) scale(1.2);
             transform: translateX(0px) scale(1.2);
   }
   100% {
     -webkit-transform: translatey(0px) scale(1);
             transform: translatey(0px) scale(1);
     opacity: 1;
   }
 }
 * {
   margin: 0;
   padding: 0;
 }
 
 
 .floating-container {
   position: fixed;
   width: 100px;
   height: 100px;
   bottom: 0;
   right: 0;
   margin: 35px 25px;
 }
 .floating-container:hover {
   height: 300px;
 }
 .floating-container:hover .floating-button {
   box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
   -webkit-transform: translatey(5px);
           transform: translatey(5px);
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
 }
 .floating-container:hover .element-container .float-element:nth-child(1) {
   -webkit-animation: come-in 0.4s forwards 0.2s;
           animation: come-in 0.4s forwards 0.2s;
 }
 .floating-container:hover .element-container .float-element:nth-child(2) {
   -webkit-animation: come-in 0.4s forwards 0.4s;
           animation: come-in 0.4s forwards 0.4s;
 }
 .floating-container:hover .element-container .float-element:nth-child(3) {
   -webkit-animation: come-in 0.4s forwards 0.6s;
           animation: come-in 0.4s forwards 0.6s;
 }
 .floating-container .floating-button {
   position: absolute;
   width: 65px;
   height: 65px;
   background: rgb(167, 89, 209);
   bottom: 0;
   border-radius: 50%;
   left: 0;
   right: 0;
   margin: auto;
   color: white;
   line-height: 65px;
   text-align: center;
   font-size: 23px;
   z-index: 100;
   box-shadow: 0 10px 25px -5px rgb(167, 89, 209, 0.6);
   cursor: pointer;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
 }
 .floating-container .float-element {
   position: relative;
   display: block;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin: 15px auto;
   color: white;
   font-weight: 500;
   text-align: center;
   line-height: 50px;
   z-index: 0;
   opacity: 0;
   -webkit-transform: translateY(100px);
           transform: translateY(100px);
 }
 .floating-container .float-element .material-icons {
   vertical-align: middle;
   font-size: 16px;
 }
 
 .modbtn:hover{
    background-color:rgb(167, 89, 209);
    color:white;
  }

  table.sticky-headers { width:100%; }
table.sticky-headers thead tr th { text-align:left; position:sticky; top:0;
  z-index:3;}

 
 {% endblock %}

{% block script %}


{% endblock %}
 {% block title %}
 Projects
 {% endblock %}


 {% block subtitle %}
<div class="d-flex flex-column text-center  subtitle" style="padding:50px"></div>
 {% endblock %}


 {% block content %}
 <div class="p-3" style="
            width:100%;
            height:100%;
            overflow-y:hidden;
        ">
        <div class="scbar" style="
        width:100%;
            height:100%;
        border-radius: 12px;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow-y: scroll;
        overflow-x:hidden;
        ">
        

 <table class="table table-hover " id="tab">
    <thead>
      <tr  style="background-color:#A759D1; color:white;">
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col" class="deskContent">Link</th>
      </tr>
    </thead>
    <tbody >
        {% for i,x in projects %}
      <tr data-toggle="modal" data-target="#myModal{{ i }}">
        <a data-toggle="modal" data-target="#myModal{{ i }}" href="">
        <td>{{x.project_name}}</td>
        <td>{{x.project_description}}</td>
        <td class="deskContent">{{x.project_link}}</td>
        
    </a>
    <div class="modal fade" id="myModal{{ i }}" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content" style="
        background-color: rgba(255, 255, 255, 0.903);
        transition: blur(50px);
        ">
          <div class="modal-header">
            <h4 style="color:red; font-style: bold;">Do you want to delete?</h4>
          </div>
          <div class="modal-body" >
            
             <h4>Name</h4>
             <p class="">{{x.project_name}}</p>
            
             <h4>Description</h4><p class="">{{x.project_description}}</p>
            
             <h4>Link</h4><a  class="" href="{{x.project_link}}">{{x.project_link}}</a>
          </div>
          <div class="modal-footer d-flex flex-row">
              <a type="button" href="projects/delete/{{i}}" class="btn btn-default mx-auto modbtn" style="width:100%;" >Yes</a>
            <button type="button" class="btn btn-default mx-auto modbtn " style="width:100%;" data-dismiss="modal" id="btn{{ i }}">No</button>
            
            <!--<a class="btn btn-danger" href=""><i class="fa fa-trash" aria-hidden="true"></i></a>-->
          </div>
        </div>
      </tr>

      {% endfor %} 
    </tbody>
  </table>

   

  </div>
  </div>

  


<div class="floating-container">
  <a class="floating-button" data-toggle="modal" data-target="#myModal{{ i }}">+</a>

  </div>
  <div class="modal fade" id="myModal{{ i }}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="
      background-color: rgba(255, 255, 255, 0.903);
      transition: blur(50px);
      ">
        <div class="modal-header">
          <h4 style="color:#A759D1" >Enter project Details</h4>
        </div>
        <div class="modal-body">
          <form id="forminput" action="projects/add" method="POST">
            {% csrf_token %}
          <div class="d-fled flex-row">
           <h4>Name</h4>
           <input style="
           background-color: rgba(255, 255, 255, 0.5);
           transition: blur(50px);" type="text" class="form-control" name="name" required>
          </div>
          <div class="d-fled flex-row">
           <h4>Description</h4><p class="">{{x.project_description}}</p>
           <textarea rows="5" draggable="false" style="
           background-color: rgba(255, 255, 255,0.5);
           transition: blur(50px);
           resize: none;
           " type="text" class="form-control" name="details" required></textarea>
          </div> 
          <div class="d-fled flex-row">
           <h4>Link</h4><a  class="" href="{{x.project_link}}">{{x.project_link}}</a>
           <input style="
           background-color: rgba(255, 255, 255, 0.5);
           transition: blur(50px);
           " type="url" class="form-control" name="url" required>
          </div>
        </div>
        <div class="modal-footer ">
            <input  type="submit" class="btn btn-success "   >
          <button type="button" class="btn btn-danger   " data-dismiss="modal" id="btn{{ i }}">Cancle</button>
          
          <!--<a class="btn btn-danger" href=""><i class="fa fa-trash" aria-hidden="true"></i></a>-->
        </div>
      </form>
      </div>

  {% endblock %}