<div>
    <link href="./frame5.css" rel="stylesheet" />
    <div>
      <a href="frame5.html">
        <div class="frame5-frame5">
          <div class="frame5-d2">
            <img
              src="/playground_assets/coderizzraccoonmascotlogopng12157-rfo-200h.png"
              alt="CoderizzRaccoonMascotlogopng12157"
              class="frame5-coderizz-raccoon-mascotlogopng1"
            />
            <span class="frame5-text"><span>Dashboard</span></span>
            <span class="frame5-text02"><span>Content Library</span></span>
            <span class="frame5-text04"><span>Projects</span></span>
            <span class="frame5-text06"><span>Calendar</span></span>
            <span class="frame5-text08"><span>Queries</span></span>
            <span class="frame5-text10">
              <span class="frame5-text11">
                <span>Welcome</span>
                <br />
                <span></span>
              </span>
              <span>Sai Sunitha G</span>
            </span>
          </div>
          <div class="frame5-image75">
            <img
              src="/playground_assets/image54i215-2rq-200h.png"
              alt="image54I215"
              class="frame5-image54"
            />
          </div>
          <div class="frame5-group7">
            <img
              src="/playground_assets/ellipse42158-0bh9-200h.png"
              alt="Ellipse42158"
              class="frame5-ellipse4"
            />
            <img
              src="/playground_assets/image192158-xsl-200h.png"
              alt="image192158"
              class="frame5-image19"
            />
          </div>
          <span class="frame5-text16"><span>ADMIN</span></span>
          <div class="frame5-image80">
            <img
              src="/playground_assets/image54i216-jjri-200h.png"
              alt="image54I216"
              class="frame5-image541"
            />
          </div>
          <div class="frame5-group8">
            <img
              src="/playground_assets/ellipse42165-v6to-200h.png"
              alt="Ellipse42165"
              class="frame5-ellipse41"
            />
            <img
              src="/playground_assets/image192165-3htm-200h.png"
              alt="image192165"
              class="frame5-image191"
            />
          </div>
          <span class="frame5-text18"><span>ADMIN</span></span>
          <div class="frame5-image85">
            <img
              src="/playground_assets/image54i216-g2zw-200h.png"
              alt="image54I216"
              class="frame5-image542"
            />
          </div>
          <div class="frame5-group9">
            <img
              src="/playground_assets/ellipse42166-4g3-200h.png"
              alt="Ellipse42166"
              class="frame5-ellipse42"
            />
            <img
              src="/playground_assets/image192166-opj-200h.png"
              alt="image192166"
              class="frame5-image192"
            />
          </div>
          <span class="frame5-text20"><span>ADMIN</span></span>
          <div class="frame5-image90">
            <img
              src="/playground_assets/image54i216-zg73-200h.png"
              alt="image54I216"
              class="frame5-image543"
            />
          </div>
          <div class="frame5-group11">
            <img
              src="/playground_assets/ellipse202167-364g.svg"
              alt="Ellipse202167"
              class="frame5-ellipse20"
            />
            <img
              src="/playground_assets/ellipse232167-a76c.svg"
              alt="Ellipse232167"
              class="frame5-ellipse23"
            />
          </div>
          <img
            src="/playground_assets/rectangle322167-6wh-200h.png"
            alt="Rectangle322167"
            class="frame5-rectangle32"
          />
          <div class="frame5-group10">
            <img
              src="/playground_assets/ellipse42167-5gz-200h.png"
              alt="Ellipse42167"
              class="frame5-ellipse43"
            />
            <img
              src="/playground_assets/image192168-lt8-200h.png"
              alt="image192168"
              class="frame5-image193"
            />
          </div>
          <span class="frame5-text22"><span>ADMIN</span></span>
          <span class="frame5-text24"><span>Profile</span></span>
          <span class="frame5-text26"><span>Logout</span></span>
          <span class="frame5-text28"><span>Total Users</span></span>
          <span class="frame5-text30"><span>Members</span></span>
          <span class="frame5-text32"><span>Moderators</span></span>
          <div class="frame5-frame4">
            <span class="frame5-text34"><span>100</span></span>
            <span class="frame5-text36"><span>88</span></span>
            <span class="frame5-text38"><span>10</span></span>
            <span class="frame5-text40">2</span>
          </div>
          <span class="frame5-text41"><span>Admins</span></span>
          <div class="frame5-frame6">
            <img
              src="/playground_assets/rectangle63144-0wx-400h.png"
              alt="Rectangle63144"
              class="frame5-rectangle6"
            />
            <img
              src="/playground_assets/image763263-mwlg-200h.png"
              alt="image763263"
              class="frame5-image76"
            />
            <img
              src="/playground_assets/image773264-3oo-200h.png"
              alt="image773264"
              class="frame5-image77"
            />
            <img
              src="/playground_assets/image783265-qf0i-200h.png"
              alt="image783265"
              class="frame5-image78"
            />
            <img
              src="/playground_assets/image793266-zar-200h.png"
              alt="image793266"
              class="frame5-image79"
            />
            <img
              src="/playground_assets/image813267-lr7-200h.png"
              alt="image813267"
              class="frame5-image81"
            />
            <img
              src="/playground_assets/image823268-8fjo-200h.png"
              alt="image823268"
              class="frame5-image82"
            />
            <img
              src="/playground_assets/image833269-sp6n-200h.png"
              alt="image833269"
              class="frame5-image83"
            />
            <img
              src="/playground_assets/image843270-aoyso-200h.png"
              alt="image843270"
              class="frame5-image84"
            />
            <img
              src="/playground_assets/image863271-507q-200h.png"
              alt="image863271"
              class="frame5-image86"
            />
            <img
              src="/playground_assets/image873272-97rj-200h.png"
              alt="image873272"
              class="frame5-image87"
            />
            <img
              src="/playground_assets/image883273-xvw8-200h.png"
              alt="image883273"
              class="frame5-image88"
            />
            <img
              src="/playground_assets/image893274-r8i-200h.png"
              alt="image893274"
              class="frame5-image89"
            />
            <img
              src="/playground_assets/image913275-fjln-200h.png"
              alt="image913275"
              class="frame5-image91"
            />
            <img
              src="/playground_assets/image923276-r7qn-200h.png"
              alt="image923276"
              class="frame5-image92"
            />
            <img
              src="/playground_assets/image933277-hqra-200h.png"
              alt="image933277"
              class="frame5-image93"
            />
            <img
              src="/playground_assets/image943278-abmb-200h.png"
              alt="image943278"
              class="frame5-image94"
            />
            <img
              src="/playground_assets/rectangle73279-ssyc-200h.png"
              alt="Rectangle73279"
              class="frame5-rectangle7"
            />
            <img
              src="/playground_assets/rectangle83280-h7n9-200h.png"
              alt="Rectangle83280"
              class="frame5-rectangle8"
            />
            <span class="frame5-text43"><span>Users</span></span>
            <span class="frame5-text45"><span>Sai Sunitha G</span></span>
            <span class="frame5-text47"><span>Admin</span></span>
            <span class="frame5-text49"><span>Mar 20, 2023</span></span>
            <span class="frame5-text51"><span>Member</span></span>
            <span class="frame5-text53"><span>Member</span></span>
            <span class="frame5-text55"><span>Mar 19, 2023</span></span>
            <span class="frame5-text57"><span>saisunitha01@gmail.com</span></span>
            <span class="frame5-text59"><span>Role</span></span>
            <span class="frame5-text61"><span>Added On</span></span>
            <img
              src="/playground_assets/line13291-kfs8.svg"
              alt="Line13291"
              class="frame5-line1"
            />
            <img
              src="/playground_assets/arrow13292-r6i.svg"
              alt="Arrow13292"
              class="frame5-arrow1"
            />
            <img
              src="/playground_assets/arrow23293-9oj.svg"
              alt="Arrow23293"
              class="frame5-arrow2"
            />
            <img
              src="/playground_assets/arrow33294-thkg.svg"
              alt="Arrow33294"
              class="frame5-arrow3"
            />
            <img
              src="/playground_assets/ellipse13295-dy-200h.png"
              alt="Ellipse13295"
              class="frame5-ellipse1"
            />
            <img
              src="/playground_assets/rectangle93296-pp88-200h.png"
              alt="Rectangle93296"
              class="frame5-rectangle9"
            />
            <span class="frame5-text63"><span>Baekusboo</span></span>
            <span class="frame5-text65"><span>baekusboo@gmail.com</span></span>
            <img
              src="/playground_assets/ellipse23299-vhs-200h.png"
              alt="Ellipse23299"
              class="frame5-ellipse2"
            />
            <span class="frame5-text67"><span>Moderator</span></span>
            <span class="frame5-text69"><span>Mar 19, 2023</span></span>
            <img
              src="/playground_assets/rectangle103302-z1gk-200h.png"
              alt="Rectangle103302"
              class="frame5-rectangle10"
            />
            <span class="frame5-text71"><span>Rose</span></span>
            <span class="frame5-text73"><span>rose@gmail.com</span></span>
            <img
              src="/playground_assets/ellipse33305-ecua-200h.png"
              alt="Ellipse33305"
              class="frame5-ellipse3"
            />
            <span class="frame5-text75"><span>Mar 18, 2023</span></span>
            <img
              src="/playground_assets/rectangle153307-t4g4-200h.png"
              alt="Rectangle153307"
              class="frame5-rectangle15"
            />
            <span class="frame5-text77"><span>Rose</span></span>
            <span class="frame5-text79"><span>rose@gmail.com</span></span>
            <img
              src="/playground_assets/ellipse43310-3x6p-200h.png"
              alt="Ellipse43310"
              class="frame5-ellipse44"
            />
            <span class="frame5-text81"><span>Member</span></span>
            <span class="frame5-text83"><span>Mar 17, 2023</span></span>
            <img
              src="/playground_assets/rectangle163313-jg2f-200h.png"
              alt="Rectangle163313"
              class="frame5-rectangle16"
            />
            <span class="frame5-text85"><span>Rose</span></span>
            <span class="frame5-text87"><span>rose@gmail.com</span></span>
            <img
              src="/playground_assets/ellipse53316-u25-200h.png"
              alt="Ellipse53316"
              class="frame5-ellipse5"
            />
            <img
              src="/playground_assets/image243317-ub4d-200h.png"
              alt="image243317"
              class="frame5-image24"
            />
            <img
              src="/playground_assets/image253318-yqt-200h.png"
              alt="image253318"
              class="frame5-image25"
            />
            <img
              src="/playground_assets/image263319-d3oi-200h.png"
              alt="image263319"
              class="frame5-image26"
            />
            <img
              src="/playground_assets/image273320-1ehp-200h.png"
              alt="image273320"
              class="frame5-image27"
            />
            <img
              src="/playground_assets/image283321-fxwwq-200h.png"
              alt="image283321"
              class="frame5-image28"
            />
            <span class="frame5-text89"><span>Add New</span></span>
            <img
              src="/playground_assets/rectangle203323-yj7-200w.png"
              alt="Rectangle203323"
              class="frame5-rectangle20"
            />
            <img
              src="/playground_assets/ellipse83324-n4z2-200h.png"
              alt="Ellipse83324"
              class="frame5-ellipse8"
            />
            <div class="frame5-image50">
              <img
                src="/playground_assets/image50i332-6ku-200h.png"
                alt="image50I332"
                class="frame5-image501"
              />
            </div>
          </div>
          <img
            src="/playground_assets/line23158-vme9.svg"
            alt="Line23158"
            class="frame5-line2"
          />
          <span class="frame5-text91"><span>Dashboard</span></span>
          <img
            src="/playground_assets/vector13194-7fme.svg"
            alt="Vector13194"
            class="frame5-vector1"
          />
        </div>
      </a>
    </div>
  </div>
  