{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <link rel = "icon" href ={% static 'main/images/logo.png' %}
        type = "image/x-icon">
    <title>CODERIZZ</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/templatemo-softy-pinko.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <p style="background: -webkit-linear-gradient(233deg,#0c1467, #832a7a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                         font-size:1.5rem;
                         font-family:sans-serif; float: left; padding: 22px;font-weight:bolder">CODERIZZ</p>
                         
                        <!-- <a href="#" class="logo">
                            <img src="assets/images/logo.png" alt="Softy Pinko"/>
                        </a> -->
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/#features">About</a></li>
                            <li><a href="/#work-process">Projects</a></li>
                            <li><a href="/events" >Events</a></li>
                            <li><a href="/ide">IDE</a></li>
                            <li><a href="/#contact-us">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start -starting content ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><strong>CODERIZZ</strong><br>to grow up your <strong>Career</strong></h1>
                        <p style="font-style:italic">“Technology is best when it brings people together” <strong>-Matt Mullenweg</strong></p>
                        <a href="#count" class="main-button-slider">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    

    <!-- ***** Features Big Item Start -Image with description***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'main/images/left-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">VISION</h2>
                    </div>
                    <div class="left-text">
                        <p>To create a club that empowers individuals and excels them in programming,regardless of their background or experience.We aim to create an inclusive and diverse community of coders where individuals can share their knowledge and learn from one another.

                            To empower students to develop their programming skills, collaborate with peers, and 
                            build innovative solutions to real-world problems and provide a learning environment that inspires creativity,curiosity, and critical thinking.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">MISSION</h2>
                    </div>
                    <div class="left-text">
                        <p>We aim to foster a love for programming and to equip our members 
                            with the current skills and knowledge.
                            
                            To provide high-quality cutting-edge coding resources and education to anyone who has an interest in programming and offer a wide range of coding resources, workshops,and events that cater to the diverse needs and goals of our members.
                            
                            To learn from each other and work together on 
                            coding projects that have a positive impact on society.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="{% static 'main/images/right-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>OUR PROJECTS</h1>
                            <p>“We need to understand that if we all work on inclusion together, it’s going to be faster, broader, better, and more thorough than anything we can do on our own.” - Ellen Pao, former Reddit CEO</p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    {% block content %} 
                    {% for x in myProject %} 
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="{{x.project_link}}" class="mini-box">
                            <i><img src="{% static 'main/images/work-process-item-01.png'%}" alt=""></i>
                            <strong>{{x.project_name}}</strong>
                            <span>{{x.project_description}}</span>
                        </a>
                    </div>
                    {% endfor %} 
                    {% endblock content %} 
                   
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    

    

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter" id="count" >
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom" >
                            <strong class="rizzgra">{{no_of_projects}}</strong>
                            <span style="background: -webkit-linear-gradient(233deg,#0c1467, #832a7a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;">Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong style="color: black;">51</strong>
                            <span style="color: black;">Members</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong style="color: black;">0</strong>
                            <span style="color: black;">Events</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong style="color: black;">0</strong>
                            <span style="color: black;">Workshops</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   

    
    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Talk To Us</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            
            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Keep in touch</h5>
                    <div class="contact-text">
                        <p>CSE Department
                            <br>Lab:2/Room No:504
                            <br>SRM Valliammai Engineering College,
                            <br>SRM Nagar, Kattankulathur – 603 203</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->
                
                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="/" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://github.com/code-rizz"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/code-rizz-6a71b0266?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BUTFHSyvkS1aFnksg8X14fA%3D%3D"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="mailto:coderizz@protonmail.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright"></p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="{% static 'main/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'main/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'main/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'main/js/custom.js' %}"></script>

  </body>
</html>