.frame5-frame5 {
    width: 100%;
    height: 564px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame5-d2 {
    top: 0px;
    left: 0px;
    width: 196px;
    height: 564px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: var(--dl-color-default-a759d1);
  }
  .frame5-coderizz-raccoon-mascotlogopng1 {
    top: 452px;
    left: 42px;
    width: 109px;
    height: 109px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text {
    top: 146px;
    left: 23px;
    color: var(--dl-color-default-000000);
    width: 146px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text02 {
    top: 177px;
    left: 23px;
    color: rgba(0, 0, 0, 1);
    width: 146px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text04 {
    top: 208px;
    left: 23px;
    color: rgba(0, 0, 0, 1);
    width: 146px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text06 {
    top: 239px;
    left: 23px;
    color: rgba(0, 0, 0, 1);
    width: 146px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text08 {
    top: 270px;
    left: 23px;
    color: rgba(0, 0, 0, 1);
    width: 148px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text10 {
    top: 60px;
    left: 23px;
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text11 {
    color: var(--dl-color-default-000000);
  }
  .frame5-image75 {
    top: 28px;
    left: 23px;
    width: 21px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .frame5-image54 {
    top: 0px;
    left: 0px;
    width: 21px;
    height: 21px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-group7 {
    top: 26px;
    left: 953px;
    width: 50px;
    height: 50px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .frame5-ellipse4 {
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image19 {
    top: 12.878787994384766px;
    left: 12.878787994384766px;
    width: 24px;
    height: 24px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text16 {
    top: 41px;
    left: 832px;
    color: var(--dl-color-default-a30000);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: right;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-image80 {
    top: 28px;
    left: 23px;
    width: 21px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .frame5-image541 {
    top: 0px;
    left: 0px;
    width: 21px;
    height: 21px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-group8 {
    top: 26px;
    left: 953px;
    width: 50px;
    height: 50px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .frame5-ellipse41 {
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image191 {
    top: 12.878787994384766px;
    left: 12.878787994384766px;
    width: 24px;
    height: 24px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text18 {
    top: 41px;
    left: 832px;
    color: var(--dl-color-default-a30000);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: right;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-image85 {
    top: 28px;
    left: 23px;
    width: 21px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .frame5-image542 {
    top: 0px;
    left: 0px;
    width: 21px;
    height: 21px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-group9 {
    top: 26px;
    left: 953px;
    width: 50px;
    height: 50px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .frame5-ellipse42 {
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image192 {
    top: 12.878787994384766px;
    left: 12.878787994384766px;
    width: 24px;
    height: 24px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text20 {
    top: 41px;
    left: 832px;
    color: var(--dl-color-default-a30000);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: right;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-image90 {
    top: 28px;
    left: 23px;
    width: 21px;
    height: 21px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .frame5-image543 {
    top: 0px;
    left: 0px;
    width: 21px;
    height: 21px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-group11 {
    top: 0px;
    left: 208px;
    width: 305px;
    height: 84px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .frame5-ellipse20 {
    top: 0.5px;
    left: 0px;
    width: 200px;
    height: 83px;
    position: absolute;
  }
  .frame5-ellipse23 {
    top: 0px;
    left: 212px;
    width: 93px;
    height: 39px;
    position: absolute;
  }
  .frame5-rectangle32 {
    top: 26px;
    left: 646px;
    width: 352px;
    height: 50px;
    position: absolute;
    border-color: transparent;
    border-radius: 21px;
  }
  .frame5-group10 {
    top: 26px;
    left: 953px;
    width: 50px;
    height: 50px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .frame5-ellipse43 {
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image193 {
    top: 12.878787994384766px;
    left: 12.878787994384766px;
    width: 24px;
    height: 24px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text22 {
    top: 41px;
    left: 832px;
    color: var(--dl-color-default-a30000);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: right;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text24 {
    top: 42px;
    left: 733px;
    color: var(--dl-color-default-000000);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: right;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text26 {
    top: 45px;
    left: 627px;
    color: var(--dl-color-default-000000);
    width: 106px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    text-align: right;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text28 {
    top: 152px;
    left: 503px;
    color: var(--dl-color-default-d9d9d9);
    width: 101px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text30 {
    top: 152px;
    left: 623px;
    color: var(--dl-color-default-d9d9d9);
    width: 101px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text32 {
    top: 152px;
    left: 743px;
    color: var(--dl-color-default-d9d9d9);
    width: 101px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-frame4 {
    top: 122px;
    left: 531px;
    width: 406px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
  }
  .frame5-text34 {
    color: rgba(0, 0, 0, 1);
    width: 46px;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 74px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text36 {
    color: rgba(0, 0, 0, 1);
    width: 46px;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 74px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text38 {
    color: rgba(0, 0, 0, 1);
    width: 46px;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 74px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text40 {
    color: rgba(0, 0, 0, 1);
    width: 46px;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text41 {
    top: 152px;
    left: 863px;
    color: var(--dl-color-default-d9d9d9);
    width: 101px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-frame6 {
    top: 218px;
    left: 227px;
    width: 775px;
    height: 308px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .frame5-rectangle6 {
    top: 0px;
    left: 0px;
    width: 775px;
    height: 308px;
    position: absolute;
    border-color: transparent;
    border-radius: 21px;
  }
  .frame5-image76 {
    top: 78px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image77 {
    top: 128px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image78 {
    top: 178px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image79 {
    top: 228px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image81 {
    top: 78px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image82 {
    top: 128px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image83 {
    top: 178px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image84 {
    top: 228px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image86 {
    top: 78px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image87 {
    top: 128px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image88 {
    top: 178px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image89 {
    top: 228px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image91 {
    top: 78px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image92 {
    top: 128px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image93 {
    top: 178px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image94 {
    top: 228px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-rectangle7 {
    top: 25px;
    left: 10px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: rgba(12, 20, 103, 1);
    border-style: solid;
    border-width: 1px;
  }
  .frame5-rectangle8 {
    top: 78px;
    left: 10px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: rgba(12, 20, 103, 1);
    border-style: solid;
    border-width: 1px;
  }
  .frame5-text43 {
    top: 19px;
    left: 27px;
    color: var(--dl-color-default-000000);
    width: 54px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text45 {
    top: 66px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text47 {
    top: 66px;
    left: 297px;
    color: var(--dl-color-default-a30000);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text49 {
    top: 66px;
    left: 580px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text51 {
    top: 116px;
    left: 297px;
    color: var(--dl-color-default-832a7a);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text53 {
    top: 216px;
    left: 297px;
    color: var(--dl-color-default-832a7a);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text55 {
    top: 116px;
    left: 580px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text57 {
    top: 83px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text59 {
    top: 19px;
    left: 297px;
    color: var(--dl-color-default-000000);
    width: 54px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text61 {
    top: 19px;
    left: 580px;
    color: var(--dl-color-default-000000);
    width: 65px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-line1 {
    top: 52px;
    left: 10px;
    width: 756px;
    height: 0px;
    position: absolute;
  }
  .frame5-arrow1 {
    top: 25px;
    left: 68px;
    width: 0px;
    height: 12px;
    position: absolute;
  }
  .frame5-arrow2 {
    top: 25px;
    left: 330px;
    width: 12px;
    height: 0px;
    position: absolute;
  }
  .frame5-arrow3 {
    top: 25px;
    left: 644px;
    width: 12px;
    height: 0px;
    position: absolute;
  }
  .frame5-ellipse1 {
    top: 70px;
    left: 27px;
    width: 29px;
    height: 29px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-rectangle9 {
    top: 128px;
    left: 10px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: rgba(12, 20, 103, 1);
    border-style: solid;
    border-width: 1px;
  }
  .frame5-text63 {
    top: 116px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text65 {
    top: 133px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-ellipse2 {
    top: 120px;
    left: 27px;
    width: 29px;
    height: 29px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text67 {
    top: 166px;
    left: 297px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text69 {
    top: 166px;
    left: 580px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-rectangle10 {
    top: 178px;
    left: 10px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: rgba(12, 20, 103, 1);
    border-style: solid;
    border-width: 1px;
  }
  .frame5-text71 {
    top: 166px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text73 {
    top: 183px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-ellipse3 {
    top: 170px;
    left: 27px;
    width: 29px;
    height: 29px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text75 {
    top: 216px;
    left: 580px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-rectangle15 {
    top: 228px;
    left: 10px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: rgba(12, 20, 103, 1);
    border-style: solid;
    border-width: 1px;
  }
  .frame5-text77 {
    top: 216px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text79 {
    top: 233px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-ellipse44 {
    top: 220px;
    left: 27px;
    width: 29px;
    height: 29px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text81 {
    top: 266px;
    left: 297px;
    color: var(--dl-color-default-832a7a);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text83 {
    top: 266px;
    left: 580px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-rectangle16 {
    top: 278px;
    left: 10px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: rgba(12, 20, 103, 1);
    border-style: solid;
    border-width: 1px;
  }
  .frame5-text85 {
    top: 266px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-text87 {
    top: 283px;
    left: 61px;
    color: var(--dl-color-default-d9d9d9);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-ellipse5 {
    top: 270px;
    left: 27px;
    width: 29px;
    height: 29px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image24 {
    top: 278px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image25 {
    top: 228px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image26 {
    top: 178px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image27 {
    top: 128px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image28 {
    top: 78px;
    left: 35px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-text89 {
    top: 296px;
    left: 692px;
    color: var(--dl-color-default-d9d9d9);
    width: 67px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Extra Light;
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-rectangle20 {
    top: 66px;
    left: 753px;
    width: 7px;
    height: 74px;
    position: absolute;
    border-color: transparent;
    border-radius: 21px;
  }
  .frame5-ellipse8 {
    top: 260px;
    left: 710px;
    width: 31px;
    height: 31px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-image50 {
    top: 257px;
    left: 708px;
    width: 36px;
    height: 36px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .frame5-image501 {
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
    position: absolute;
    border-color: transparent;
  }
  .frame5-line2 {
    top: 86px;
    left: 503px;
    width: 499px;
    height: 0px;
    position: absolute;
  }
  .frame5-text91 {
    top: 125px;
    left: 227px;
    color: var(--dl-color-default-000000);
    width: 236px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame5-vector1 {
    top: 153px;
    left: 228px;
    width: 125px;
    height: 42px;
    position: absolute;
  }
  